{% extends '_layout.' + getConfig('viewExtension') %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {{ toolbar | safe }}

            <div class="box box-solid box-primary">
                <div class="box-body table-responsive no-padding">
                    {% include 'basic_table/_table.' + getConfig('viewExtension') %}
                    {{ paginateLinks(totalPage, currentPage,'/admin/quiz/page/{page}/sort/'+currentColumn+'/'+currentOrder+queryString)|safe }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block jsExtends %}
    <script>
        function deleteRecords() {
            var ids = [];
            $("input:checkbox[name='ids[]']:checked").each(function () {
                ids.push($(this).val());
            });

            if (ids.length > 0) {
                $.ajax({
                    url: '{{ baseRoute }}',
                    type: 'DELETE',
                    data: {
                        ids: ids.join()
                    }
                }).done(function () {
                    window.location.href = '{{ baseRoute }}';
                });
            }
        }
    </script>
{% endblock %}
